name = "dolphinhouse-emailbot"
main = "workers/email/index.js"
compatibility_date = "2025-10-25"

workers_dev = true

# Cloudflare Pages build output directory for Astro
pages_build_output_dir = "./dist"

[[d1_databases]]
binding = "DB"
database_name = "dolphinhouse"
database_id = "906d5bbf-24bf-4bac-8237-9fc8e197d382"

[[vectorize]]
binding = "VECTORIZE"
index_name = "dolphinhouse-rag" 

[ai]
binding = "AI"

[vars]
EMAIL_FROM = "contact@dolphinhouse-alibaug.com"
USE_CLOUDFLARE_REPLY = "0"   # set to "1" to use message.reply(...)

[[vectorize]]
binding = "VECTORIZE_NEW"
index_name = "dolphinhouse-rag-384"
