name = "dolphinhouse-website"
main = "./dist/_worker.js"
compatibility_date = "2024-10-01"
pages_build_output_dir = "./dist"

[site]
bucket = "./dist"

[build]
command = "npm run build"

[[d1_databases]]
binding = "DB"                     # â† must match what you use in code
database_name = "dolphinhouse"
database_id = "906d5bbf-24bf-4bac-8237-9fc8e197d382"
